<div fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
  <div class="m-gap p-gap">
    <div class="grad-blue" >
      <mat-card class="example-card">
        <div class="city">New Orders</div>
        <div class="date">This Week</div>
        <div class="weather"><i class="material-icons">fullscreen_exit</i></div>
      </mat-card>
    </div>
  </div>
  <div class="m-gap p-gap" >
      <div class="grad-green" >
        <mat-card class="example-card">
          <div class="city">New Orders</div>
          <div class="date">This Week</div>
          <div class="weather"><i class="material-icons">fullscreen_exit</i></div>
        </mat-card>
      </div>
    </div>
    <div class="m-gap p-gap" >
        <div class="grad-red" >
          <mat-card class="example-card">
            <div class="city">New Orders</div>
            <div class="date">This Week</div>
            <div class="weather"><i class="material-icons">fullscreen_exit</i></div>
          </mat-card>
        </div>
      </div>
</div>
