<mat-sidenav-container class="main-container" fxFlexFill >
    <mat-sidenav mode="side" [opened]="navBarOpen" class="sidebar-panel" id="sidebar-panel">
    <div class="opt-side relative ">
        <div class="branding text-center">
            <h2><i aria-hidden="true" class="fa fa-superpowers"></i> <span> OPTIMA</span></h2>
        </div>
        <div class="main-nav">
            <div class="user-pro-wrap">
                <div class="user-profile-thumb text-center">
                <div class="user-i">
                <img alt="" class="rad-full mb-1" height="100" src="/assets/userpic.jpg" width="100">
                <div> <span>John Doe</span></div>
                </div></div>
                <div class="most-used text-center">
                        <a class="most-link" color="primary">
                           <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">home</mat-icon>
                        </a>
                        <a class="most-link" color="primary">
                           <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">person</mat-icon>
                        </a>
                        <a class="most-link" color="primary">
                           <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">chat_bubble</mat-icon>
                        </a>
                     </div>
            </div>
        </div>
    </div>
    <mat-list role="list">
        <mat-nav-list *ngFor="let shoe of typesOfShoes">
            <a mat-list-item  (click)="expand()"> {{ shoe }} </a>
        </mat-nav-list>
    </mat-list>
    </mat-sidenav>
    <mat-sidenav-content >
        <shanth-header (navtoggle)="toggle()"></shanth-header>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>